#footer {
    width: 100%;
    position: absolute;
    bottom: 3.32vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2.3vw;
    pointer-events: none;
}
#footer_buttons_right {
    display: flex;
    flex-direction: row;
    column-gap: 1.67vw;
}
.footer_button {
    height: 8.3vh;
    aspect-ratio: 1;
    border-radius: 50%;
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.12));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
}
.footer_button_text {
    font-size: 4.5em;
    font-weight: bold;
}
