#library {
    padding: 8.3vh 0 16.9vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8.78vh;
    flex: 1;
}
#library_choices {
    width: 100%;
    flex: 1;
    padding: 0 11.1vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    column-gap: 7.14%;
    row-gap: 4.65%;
}
