#solution {
    flex: 1;
    width: 100%;
}
#solution_title {
    font-size: 14em;
    line-height: 1.2em;
    font-weight: 900;
    margin: 15.625vh 0 0 4.86vw;
    width: 30vw;
}
#solution_tree {
    height: 114.16vh;
    aspect-ratio: 1136.58 / 1169;
    position: absolute;
    bottom: 2.734375vh;
    left: 35.28vw;
}
#solution_background {
    position: absolute;
    bottom: 0;
    width: 100%;
}
#solution_background_ground {
    height: 3.9vh;
    width: 100%;
}
#solution_background_bushes {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    column-gap: 1.94vw;

    position: relative;
    margin: auto 50.35vw auto 21.6vw;
}
.solution_bush {
    height: 8.2vh;
    aspect-ratio: 178 / 84;
}
.solution_tree_bush {
    position: absolute;
    bottom: 0;
}
#solution_tree_bush_left {
    left: 32%;
}
#solution_tree_bush_right {
    right: 35%;
}
#solution_background_leaves {
    height: 7.52vh;
    aspect-ratio: 43 / 77;
    margin: 0 8.75vw 7.52vh 10.9vw;
}
